header{
    position: relative;
    width: 7.5rem;
    height: 7.07rem;
    background: url("../images/headerBg.png") center no-repeat;
    background-size: cover;
}
header>span{
    position: absolute;
    top: .38rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 6.9rem;
    height: 4.3rem;
    background: url("../images/headerPic_1.png") center no-repeat;
    background-size: cover;
}